{% load i18n %}
<!DOCTYPE html>
<head>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" media="screen" />
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/fund.js' %}"></script>
	<title>{{ proj_name }}</title>
</head>
<body>
	{% load currency %}
	    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		     <a class="navbar-brand" rel="home" href="/" title="CrowDAO">
				The Beacon Project
				<img src="{% static 'img/logo.png' %}" style="max-width:60px;">
		    </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
		      	<ul class="nav navbar-nav">
			      	{% for page in pages_in_menu %}
			      		<li><a href="/{{ page.slug }}">{{ page.title }}</a></li>
			      	{% endfor %}
		     	</ul>
	

        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<div class="container">
	{% block content %}
		<div class="row fs-head">
			<div class="col-md-8 videocol">
				{% block video %}
				<iframe src="//player.vimeo.com/video/23136511?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				{% endblock video %}
				<div class="row">
				<div class="col-md-8">
					{% block body %}{% endblock %}
				</div>
				</div>
			</div>
			<div class="col-md-4 stats">
				<h2 class="slimtop text-center"><strong>{{ slogan }}</strong></h2>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pct }}%;">
					</div>
				</div>
				<div class="row hidden">
					<div class="col-md-12">
						<h1 class="slimtop">{{ pct_disp }}%</h1>
						<p class="lead">{% trans "complete" %}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class="slimtop">{{ backers }}</h1>
						<p class="lead">{% trans "backers" %}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class="slimtop">${{ total }}</h1>
						<p class="lead">{% trans "pledged of" %} ${{ goal }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class="slimtop">{% if days >= 0 %}{{ days }}{% else %}0{% endif %}</h1>
						<p class="lead">{% if days == 1 %}{% trans "day" %}{% else %}{% trans "days" %}{% endif %} left</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class="slimtop">98.203</h1>
						<p class="lead">Crow Gold mined</p>
					</div>
				</div>
	
				{% if nopay %}
				<a class="btn btn-lg btn-primary btn-block disabled" href="/c/choose"><i class="icon-ok"></i>
					{% trans "Campaign Ended" %}
				</a>
				{% else %}
				<a class="btn btn-lg btn-success btn-block" href="/c/choose"><i class="icon-ok"></i>
					{% trans "Contribute Now" %}</a>
				{% endif %}
			</div>
		</div>
	{% endblock content %}
	</div>

	<footer class="footer">
		<div class="container">
			<div class="row">
			<div class="col-md-8">
				<div class="btn-group btn-group-lg btn-group-justified">
					<a class="btn btn-lg btn-primary" rel="tooltip" data-toggle="tooltip" title="Share to Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ proj_addr|urlencode:'' }}" target="_blank"><i class="icon-facebook-sign text-center"></i></a>
					<a class="btn btn-lg btn-info" rel="tooltip" data-toggle="tooltip" title="Tweet this page" href="https://twitter.com/home?status=Check%20this%20out!%20{{ proj_name|urlencode:'' }}%20-%20{{ proj_addr|urlencode:'' }}" target="_blank"><i class="icon-twitter text-center"></i></a>
					<a class="btn btn-lg btn-danger" rel="tooltip" data-toggle="tooltip" title="Share to Google+" href="https://plus.google.com/share?url={{ proj_addr|urlencode:'' }}" target="_blank"><i class="icon-google-plus-sign text-center"></i></a>
					<a class="btn btn-lg btn-default" rel="tooltip" data-toggle="tooltip" title="Share to Diaspora" href="http://sharetodiaspora.github.io/?title=Check%20this%20out!%20{{ proj_name|urlencode:'' }}&url={{ proj_addr|urlencode:'' }}" target="_blank"><i class="icon-asterisk text-center"></i></a>
				</div>
			</div>
			<div class="col-md-4">
				<a href="{{ admin_link }}">(edit this page)</a>
			</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		$(function () {
			$("[rel='tooltip']").tooltip({container: 'body'});
		});
	</script>
</body>
</html>